:root {
    --claro: #b4c5f5;
    --blanco: #ffffff;
    --oscuro: #000000;
    --azul: rgb(31, 81, 255);
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color: var(--claro);
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1 rem = 10 px*/
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, var(--claro) 0%, var(--blanco) 100%);
    margin: 0px;
}

/* tipografia */

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.3rem;
    color: var(--azul);
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    font-family: "Edu SA Hand", cursive;
    text-align: center;
}

p {
    font-size: 1.8rem;
    color: var(--oscuro);
}

.w-sm-100{ /* sm = small */
    width: 100%;
}

.imgs {
    width: 40rem;
}

.imgUser {
    border-radius: 50%;
    width: 40rem;
}

.boton {
    border-style: none;
    border-radius: 10%;
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 600;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.moverDerecha {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Titulo y Logo */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--blanco);
    font-size: 4rem;
}

.titulo {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-right: 6rem;
    padding-top: 3rem;
}

.tituloPq {
    margin-top: 0rem;
    margin-left: 6rem;
    padding-top: 0rem;
}

@media (min-width: 660px) {
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--blanco);
        font-size: 4rem;
        padding-top: 0;
    }

    .logo h1 {
        margin: 1rem .6rem;
    }

    .tituloPq {
        padding-top: 5rem;
    }
}


/* Navegación principal y Header*/

header {
    background-image: url(../assets/img/vector-royal-blue-horizontal-stripes-background-ai-eps.jpg);
    height: 38rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 660px) {
    header {
    background-image: url(../assets/img/vector-royal-blue-horizontal-stripes-background-ai-eps.jpg);
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
}
.nav-principal {
    margin-top: 3rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



@media (min-width: 660px) {
    .nav-background {
    background-color: var(--azul);
    }

    
}

@media (min-width: 660px) {
    .nav-principal {
        background-color: var(--azul);
        margin: 5rem auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-principal a {
    text-align: center;
    text-decoration: none;
    color: var(--blanco);
    font-size: 2.3rem;
    font-weight: 500;
    padding: 0rem 4rem;
}

@media (min-width: 660px) {
    .nav-principal a:hover{
    color: var(--oscuro);
    font-weight:1000;
    font-size: 2.3rem;
    padding: 0rem 7rem;
    border-style: dashed;
    border-color: var(--blanco);
    border-radius: 50%;
    border-bottom: #000000;
    transition: all 0.3s ease;

}
}
.nav-principal a:hover{
    color: var(--oscuro);
    font-weight:1000;
    font-size: 2.3rem;
    padding: 0rem 7rem;
    border-style: dashed;
    border-color: var(--blanco);
    border-radius: 50%;
    border-bottom: #000000;
}


.contenedorNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor img {
    border-radius: 50%;
}

.contenedorMain {
    width: 90rem;
    margin: 3rem auto;
}

/* Contenido Principal */

main {
    display: block;
    align-items: center;
    margin: 10rem 20rem;
}

.sombras {
    -webkit-box-shadow: 0px 15px 38px -3px rgba(148,148,148,0.55);
    -moz-box-shadow: 0px 15px 38px -3px rgba(148,148,148,0.55);
    box-shadow: 0px 15px 38px -3px rgba(148,148,148,0.55);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido p {
    line-height: 2;
}

/* Contacto */

.formulario {
    background-color: var(--claro);
    width: min(60rem , 100%);
    border-radius: 3%;
    margin: 0 auto;
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--azul);
}

@media (min-width: 660px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 20rem;
        padding: 1rem;
        column-gap: 2rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--oscuro);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 15rem;
}

.input-text {
    width: 100%;
    border: none;
    padding:1rem;
    border-radius:1rem;
    font-size: 1.8rem;
}

/* Footer */

footer {
    background-color: var(--azul);
    text-align: center;
    padding: .1rem;
    
}

footer p {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--blanco);
}